<div class="col">
    <div class="mb-5 d-flex justify-content-end">
        <button class="btn btn-primary hideWhenPrint" @onclick="Print">In Phiếu Nhập</button>
    </div>
    <div>
        <div class="d-flex justify-content-between">
            <div>
                <p class="m-0">Đơn vị :</p>
                <p class="m-0">Bộ phận :</p>
            </div>
            <div>
                <h3 class="fw-bold">Phiếu Nhập Kho</h3>
            </div>
            <div>
                <h3 class="fw-bold">Mẫu số : 01 - VT</h3>
            </div>
        </div>
        <div class="d-flex gap-5">
            <div style="width: 50%">
                <p class="m-0">Ngày @EntryStorageForm.EntryStorageFormDate.Day tháng @EntryStorageForm.EntryStorageFormDate.Month năm @EntryStorageForm.EntryStorageFormDate.Year</p>
                <p class="m-0">Số phiếu nhập: @EntryStorageForm.EntryStorageFormId</p>
            </div>
            <div style="width: 50%">
                <p class="m-0">Nợ: ........................................</p>
                <p class="m-0">Có: ........................................</p>
            </div>
            <div>
                <p>(Ban Hành Theo QĐ Số 15/2006/QĐ-BTC Ngày 20/03/2006 Của Bộ Trưởng BTC)</p>
            </div>
        </div>
        <p class="m-0">Họ Tên Người Giao Hàng @SuppliersList?.Find(i => i.Id == EntryStorageForm.SupplierId)?.SupplierName</p>
        <div class="d-flex gap-5">
            <div>
                <p class="m-0">Theo TK Số:</p>
                <p class="m-0">Nhập Tại Kho: @StorageList?.Find(i => i.Id == EntryStorageForm.StorageId)?.StorageName</p>
            </div>
            <div class="flex-grow-1">
                <p class="m-0">Ngày @EntryStorageForm.EntryStorageFormDate.Day tháng @EntryStorageForm.EntryStorageFormDate.Month năm @EntryStorageForm.EntryStorageFormDate.Year của</p>
                <p class="m-0">Địa điểm:</p>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <table class="table table-bordered">
            <thead style="background-color: #d2d7e3">
                <tr>
                    <th scope="col" rowspan="2">STT</th>
                    <th scope="col" rowspan="2">Tên nhãn hiệu, quy cách, phẩm chất, vật tư, dụng cụ, sản phẩm, hàng hóa</th>
                    <th scope="col" rowspan="2">Mã hàng</th>
                    <th scope="col" rowspan="2">Đơn vị tính</th>
                    <th scope="col" colspan="2" align="center">Số lượng</th>
                    <th scope="col" rowspan="2">Đơn giá</th>
                    <th scope="col" rowspan="2">Thành tiền</th>
                </tr>
                <tr>
                    <th>Kiện</th>
                    <th>Cái</th>
                </tr>
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
            </tbody>
            <tfoot style="background-color: #d2d7e3">
                <tr>
                    <th colspan="4" class="text-end">Tổng</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <p class="fw-bold">Tổng Số Tiền (Viết bằng chữ): </p>
    <div class="d-flex">
        <p class="fw-bold w-50">Số Chứng Từ Gốc Kèm Theo:</p>
        <p class="w-50">Ngày ...... Tháng ...... Năm ......</p>
    </div>
    <div class="d-flex mt-2 justify-content-between">
        <div>
            <p class="fw-bold text-center">Người Lập Phiếu</p>
            <p class="text-center">(Ký, họ tên)</p>
        </div>
        <div>
            <p class="fw-bold text-center">Người Giao Hàng</p>
            <p class="text-center">(Ký, họ tên)</p>
        </div>
        <div>
            <p class="fw-bold text-center">Thủ Kho</p>
            <p class="text-center">(Ký, họ tên)</p>
        </div>
        <div>
            <p class="fw-bold text-center">Kế Toán Trưởng</p>
            <p class="text-center">(Ký, họ tên)</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback PrintForm { get; set; }
    [Parameter]
    public EntryStorageForm EntryStorageForm { get; set; }
    [Parameter]
    public List<Supplier> SuppliersList { get; set; }
    [Parameter]
    public List<Storage> StorageList { get; set; }
    

    private async Task Print()
    {
        await PrintForm.InvokeAsync();
    }
}
