@page "/storage-dashboard"
@using Microsoft.EntityFrameworkCore
@inject IStorageRepository storageRepository

<h3>Danh mục kho</h3>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên kho</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (StorageList is null)
                    {
                        <tr>
                            <td>Đang lấy dữ liệu...</td>
                        </tr>
                    }
                    else
                    {
                        @if (!StorageList.Any())
                        {
                            <tr>
                                <td>Không có dữ liệu</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (Storage item in StorageList)
                            {
                                <tr>
                                    <td>@item.StorageName</td>
                                    <td>@item.Note</td>
                                    <td>
                                        <button class="btn btn-primary" @onclick="()=>LoadStorage(item.Id)">Sửa</button>
                                        <button class="btn btn-danger" @onclick="()=>DeleteStorage(item.Id)">Xóa</button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <EditForm Model="Storage" OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="storageName">Tên kho</label>
                    <InputText @bind-Value="tempValue" class="form-control" id="storageName" placeholder="Tên kho" />
                    <ValidationMessage For="@(()=>Storage.StorageName)" />
                    <p class="text-danger">@errorMessage</p>
                </div>
                <div class="form-group">
                    <label for="note">Ghi chú</label>
                    <InputTextArea @bind-Value="Storage.Note" class="form-control" id="note" rows="3"></InputTextArea>
                </div>
                @if (Storage.Id > 0)
                {
                    <button type="reset" class="btn btn-secondary mt-4" @onclick="Reset">Hủy</button>
                }
                <button type="submit" class="btn btn-primary mt-4">@(Storage.Id > 0 ? "Sửa" : "Thêm")</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Storage Storage { get; set; } = new Storage();

    public List<Storage> StorageList { get; set; }

    private string errorMessage = string.Empty;
    private string tempValue = string.Empty;
    private string storeTempValue = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await LoadStorageList();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task LoadStorageList()
    {
        StorageList = await storageRepository.GetAllAsync();
    }

    private async Task LoadStorage(int id)
    {
        Reset();
        Storage = await storageRepository.GetAsync(id);
        tempValue = Storage.StorageName;
        storeTempValue = tempValue;
    }

    private async Task CreateStorage()
    {
        try
        {
            await storageRepository.CreateAsync(Storage);
            errorMessage = string.Empty;
        }
        catch (DbUpdateException dbUpdateException)
        {
            errorMessage = "Tên kho phải là duy nhất";
        }
    }

    private async Task UpdateStorage()
    {
        try
        {
            Storage.StorageName = tempValue;
            await storageRepository.UpdateAsync(Storage);
        }
        catch (DbUpdateException dbUpdateException)
        {
            Storage.StorageName = storeTempValue;
            errorMessage = "Tên kho phải là duy nhất";
        }
    }

    private async Task DeleteStorage(int id)
    {
        await LoadStorage(id);
        await storageRepository.DeleteAsync(Storage);
        await LoadStorageList();
        Reset();
    }

    private async Task OnSubmit()
    {
        if (Storage.Id > 0)
        {
            await UpdateStorage();
        }
        else
        {
            await CreateStorage();
        }
        await LoadStorageList();
        Reset();
    }

    private void Reset()
    {
        Storage = new Storage();
    }
}
